[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart=/home/cardava_tech/infinity_card/venv/bin/uwsgi --emperor /etc/uwsgi/vassals --uid cardava_tech --gid cardava_tech
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
